[Unit]
Description=Dashboard Weather Data Collector
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=<A userid with write access to /opt/dashboard>
Group=<That user's group id>
ExecStart=/opt/dashboard/get-weather YOUR_LATITUDE YOUR_LONGITUDE YOUR_SYNOPTICS_API_TOKEN /opt/dashboard/weather_data.json /opt/dashboard/get-weather.log
Restart=always

[Install]
WantedBy=network.target
